<head>
  <style>
  .bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .rotateimg90 {
	-webkit-transform:rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	}
  </style>
</head>

<body>

<div class="container-fluid bg-1 text-center">
  	<h1> Persinal hompage on Bitbckit.</hi>
	<h2> Robert Stevenson, University of Dayton.</h2>
	<img src="https://bitbucket.org/rob3stevenson/rob3stevenson.bitbucket.io/downloads/IMG_2949.jpg" alt="Pic" height="250" width="250" class="rotateimg90">
  	<script>
		var shown = false;
		function showhide(){
			if(shown){
				document.getElementByID('email').innerHTML = "show my email";
				shown = false;
			}else{
				var myemail = "<a href='mailto:stevensonr2" + "@" + "udayton.edu'>stevensonr2" + "@" + "udayton.edu</a>";
				document.getElementById('email').innerHTML = myemail;
				shown = true;
			}
		}
	</script>
<div id="email" onclick="showhide()">shown my email</div>
</div>

	<div class="container-fluid bg-2 text-center">
  	<script>
		function startTime() {
			document.getElementById('clock').innerHTML = new Date();
			setTimeout(startTime, 500);
		}
		</script>
	<body onload="startTime()">
	<br>
	Current time: <div id="clock"></div>
</div>

</body>